/* scss variables*/
/* 

Table of Content:
1. Global
2. Components
3. Pages
4. Media queries

*/
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  color: #141414;
  font-size: 14px; }

/* ############################

    TYPOGRAPHY

    ############################ 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0; }

h1 {
  font-size: 1.4rem; }

h2 {
  font-size: 1.3rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 1.1rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.9rem; }

/* 
 
// ............GLOBAL
 
    ############################

 */
a {
  color: #740774; }
  a:hover {
    text-decoration: none;
    color: #db4277; }

a.customLink {
  transition: font-weight 500ms ease-in-out;
  -moz-transition: font-weight 500ms ease-in-out;
  -o-transition: font-weight 500ms ease-in-out;
  -webkit-transition: font-weight 500ms ease-in-out;
  -ms-transition: font-weight 500ms ease-in-out;
  display: inline-block; }
  a.customLink::after {
    content: "";
    height: 3px;
    display: block;
    background-color: #740774;
    width: 40%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-ransition: transform 500ms ease-out;
    -webkit-transition: transform 500ms ease-out;
    -ms-transition: transform 500ms ease-in-out; }
  a.customLink:hover, a.customLink:focus {
    text-decoration: none;
    color: #4d063d;
    transition: color 500ms ease-in-out;
    transition: font-weight 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -moz-transition: font-weight 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -o-transition: font-weight 500ms ease-in-out;
    -webkit-transition: color 500ms ease-in-out;
    -webkit-transition: font-weight 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    -ms-transition: font-weight 500ms ease-in-out;
    outline: 0; }
    a.customLink:hover::after, a.customLink:focus::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 500ms ease-in;
      -moz-transition: transform 500ms ease-in;
      -o-transition: transform 500ms ease-in;
      -webkit-transition: transform 500ms ease-in;
      -ms-transition: transform 500ms ease-in-out; }

.privacy_policy_inner,
.about_us_inner {
  line-height: 2;
  padding: 3em 0; }

.privacy_policy_inner li {
  margin-bottom: 2em; }

.breadcrumb {
  background-color: unset;
  padding: unset;
  font-size: 0.8rem; }
  .breadcrumb .breadcrumb-item:hover {
    text-decoration: none; }

.bo_back_history {
  background-color: unset !important;
  color: #740774; }
  .bo_back_history:hover {
    color: #4d063d; }

.bg-secondary-clr {
  background-color: #4d063d;
  color: #ffffff; }

a.bg-secondary-clr {
  background-color: #4d063d;
  color: #ffffff; }
  a.bg-secondary-clr:hover {
    background-color: #4d063d;
    color: #ffffff; }
  a.bg-secondary-clr:focus {
    outline: 0; }

.bg-primary-clr {
  background-color: #740774;
  color: #ffffff; }

a.bg-primary-clr {
  background-color: #740774;
  color: #ffffff; }
  a.bg-primary-clr:hover {
    background-color: #4d063d;
    color: #ffffff; }
  a.bg-primary-clr:focus {
    outline: 0; }

.bg-shade-clr {
  background-color: #fbf4fb;
  color: #740774;
  transition: background-color 260ms ease;
  -webkit-transition: background-color 260ms ease-in-out;
  -moz-transition: background-color 260ms ease-in-out;
  -o-transition: background-color 260ms ease-in-out; }
  .bg-shade-clr:hover {
    background-color: #4d063d;
    color: #ffffff;
    transition: background-color 260ms ease-in-out;
    -webkit-transition: background-color 260ms ease-in-out;
    -moz-transition: background-color 260ms ease-in-out;
    -o-transition: background-color 260ms ease-in-out; }
  .bg-shade-clr:focus {
    outline: 0; }

.clr-primary {
  color: #740774; }

.page-title {
  background-color: #db427848;
  background-image: url("../assets/images/page-title-background-img.png");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: right; }

.shopping_cart_icon_alt .badge {
  background-color: #db4277; }

.shopping_cart_alt_visible {
  display: block; }

.shopping_cart_alt_hidden {
  display: none; }

/* 
############################
 
............COMPONENTS

############################
*/
.navbar-toggler:focus {
  box-shadow: none; }

.mobile-menu-toggler {
  color: #fbf4fb; }

.user_account_logout_wrapper button {
  background: unset; }
.user_account_logout_wrapper .user_acct_link,
.user_account_logout_wrapper button {
  color: #740774 !important;
  font-weight: bold; }

.product-card {
  width: 85%;
  margin: 0 auto; }

.product-content-qty {
  font-weight: 600; }

.price {
  font-weight: bolder; }

button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 3px white;
  border: 2px solid #740774;
  transition: box-shadow 500ms ease;
  transition: border 500ms ease;
  -moz-transition: box-shadow 500ms ease;
  -moz-transition: border 500ms ease;
  -o-transition: box-shadow 500ms ease;
  -o-transition: border 500ms ease;
  -webkit-transition: box-shadow 500ms ease;
  -webkit-transition: border 500ms ease;
  -ms-transition: box-shadow 500ms ease-in-out;
  -ms-transition: border 500ms ease-in-out; }

.white_btn,
.primary_btn {
  text-transform: uppercase;
  border: 2px solid #740774;
  font-weight: 600;
  transition: background-color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  -webkit-transition: background-color 500ms ease-in-out;
  -webkit-transition: color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out; }
  .white_btn:hover,
  .primary_btn:hover {
    background-color: #4d063d;
    color: #ffffff;
    transition: background-color 500ms ease-in-out;
    transition: color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -webkit-transition: color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out; }

.white_btn {
  background-color: #ffffff;
  color: #740774; }

.primary_btn {
  background-color: #740774;
  color: #ffffff; }

.form-title {
  text-transform: uppercase; }

form .form-control {
  border: 1px solid #4d063d;
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d063d;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-bottom 500ms ease-in-out;
  -moz-transition: border-bottom 500ms ease-in-out;
  -webkit-transition: border-bottom 500ms ease-in-out;
  -o-transition: border-bottom 500ms ease-in-out;
  -ms-transition: border-bottom 500ms ease-in-out; }
form textarea.form-control {
  height: auto !important; }
form .form-control[type="text"],
form .form-control[type="password"],
form input[type="email"],
form select {
  box-shadow: unset !important;
  border-radius: 0; }
  form .form-control[type="text"]:focus,
  form .form-control[type="password"]:focus,
  form input[type="email"]:focus,
  form select:focus {
    border-bottom: 3px solid #740774;
    transition: border-bottom 500ms ease-in-out;
    -moz-transition: border-bottom 500ms ease-in-out;
    -o-transition: border-bottom 500ms ease-in-out;
    -webkit-transition: border-bottom 500ms ease-in-out;
    -ms-transition: border-bottom 500ms ease-in-out; }
form .password-eye {
  background-color: #ffffff;
  border: 1px solid #740774;
  font-size: 0.6rem; }
  form .password-eye i {
    color: #61585b; }
form .select-wrapper {
  position: relative; }
  form .select-wrapper::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0dd";
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    right: 1rem;
    color: #740774;
    pointer-events: none;
    bottom: 0.34em; }
form select {
  /* remove default style from browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  form select option {
    margin: 5em;
    line-height: 2;
    font: inherit; }
form select::-ms-expand {
  /* remove default style from explorer */
  display: none; }
form .selectOptionStyle {
  background-color: #fbf4fb;
  padding: 2em;
  line-height: 3; }
  form .selectOptionStyle:hover {
    background-color: #db4277 !important; }

.account-tab-link {
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #740774; }
  .account-tab-link:hover, .account-tab-link.active {
    color: #ffffff;
    text-decoration: none;
    background-color: #740774; }

.account-tab-link::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right; }

.custom-slider-nav {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  width: 100%; }
  .custom-slider-nav #prev::before,
  .custom-slider-nav #next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.3rem; }
  .custom-slider-nav #prev::before {
    content: "\f104"; }
  .custom-slider-nav #next::before {
    content: "\f105"; }

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 3px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #740774;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d063d; }

.hero-slide-nav {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.6; }

.top-bar {
  background-color: #ffffff;
  color: #fbf4fb;
  display: grid;
  color: #61585b; }

.access-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  height: 100%; }

.email:before {
  content: "\f0e0"; }

.phone:before {
  content: "\f879"; }

.email:before,
.phone:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5em; }

#main_header_option {
  /*  */ }
  #main_header_option .header_wrapper {
    width: 90%;
    margin: 0 auto; }
  #main_header_option .o_main_nav {
    display: none; }
  #main_header_option .o_main_mobile_navbar {
    position: relative; }
  #main_header_option .o_main_mobile_navbar .o_mobile_navtab {
    padding: 0;
    list-style: none;
    line-height: 35px; }
  #main_header_option #o_nav_toggler > .fa-plus {
    transform: rotate(45deg);
    transition: transform 0.5s ease; }
  #main_header_option #o_nav_toggler > .fa-bars {
    transform: rotate(0deg);
    transition: transform 0.5s ease; }
  #main_header_option .o_main_mobile_navbar .o_nav_top {
    border-bottom: 1px solid #808891; }
  #main_header_option .o_main_mobile_navbar .o_nav_top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em; }
  #main_header_option .o_main_mobile_navbar .o_mobile_navtab li {
    border-bottom: 1px solid #808891;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  #main_header_option .cart_badge {
    background-color: #740774;
    color: #fff; }
  #main_header_option .o_nav_dropdown a {
    color: #434343; }
  #main_header_option #o_mobile_nav_dropdown {
    background-color: #fff;
    position: absolute;
    transform: scaleY(0);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transform-origin: top;
    width: 100%; }
  #main_header_option .o_entry_btn {
    display: flex;
    justify-content: space-around;
    margin: 1em; }
  #main_header_option .o_entry_btn a {
    width: 47%;
    background-color: #fff;
    border: 1px solid #740774;
    color: #740774;
    border-radius: 0; }
  @media (min-width: 768px) {
    #main_header_option .o_main_mobile_navbar {
      display: none; }
    #main_header_option .o_main_nav {
      display: block; } }
  @media (min-width: 700px) {
    #main_header_option .o_main_nav_top_inner {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    #main_header_option .o_navtab {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      margin-top: unset;
      margin-bottom: unset; }
    #main_header_option .o_navtab li {
      margin-left: 2em; }
    #main_header_option .o_navtab a {
      color: #808891; }
    #main_header_option .o_navtab a::after {
      content: "";
      height: 3px;
      display: block;
      background-color: #808891;
      width: 40%;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms ease-out;
      -moz-transition: transform 250ms ease-out;
      -o-ransition: transform 250ms ease-out;
      -webkit-transition: transform 250ms ease-out;
      -ms-transition: transform 250ms ease-in-out; }
    #main_header_option .o_navtab a:hover,
    #main_header_option .o_navtab:focus {
      text-decoration: none;
      transition: color 250ms ease-in-out;
      transition: font-weight 250ms ease-in-out;
      -moz-transition: color 250ms ease-in-out;
      -moz-transition: font-weight 250ms ease-in-out;
      -o-transition: color 250ms ease-in-out;
      -o-transition: font-weight 250ms ease-in-out;
      -webkit-transition: color 250ms ease-in-out;
      -webkit-transition: font-weight 250ms ease-in-out;
      -ms-transition: color 250ms ease-in-out;
      -ms-transition: font-weight 250ms ease-in-out;
      outline: 0; }
    #main_header_option .o_navtab a:hover::after,
    #main_header_option .o_navtab a:focus::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 250ms ease-in;
      -moz-transition: transform 250ms ease-in;
      -o-transition: transform 250ms ease-in;
      -webkit-transition: transform 250ms ease-in;
      -ms-transition: transform 250ms ease-in-out; }
    #main_header_option .o_contact_via_container {
      flex-basis: 40%; }
    #main_header_option .o_brand_logo_container {
      flex-basis: auto;
      text-align: center; }
    #main_header_option .o_navtab_container {
      flex-basis: 40%;
      display: grid;
      place-content: end; } }

.main-nav {
  background-color: #4d063d; }
  .main-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-weight: 500;
    color: #ffffff !important;
    margin-right: 2em;
    font-size: 0.8rem; }
    .main-nav .nav-item .nav-link::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #db4277;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 500ms ease-in-out;
      -moz-transition: transform 500ms ease-in-out;
      -o-transition: transform 500ms ease-in-out;
      -webkit-transition: transform 500ms ease-in-out;
      -ms-transition: transform 500ms ease-in-out; }
    .main-nav .nav-item .nav-link:hover::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 500ms ease-in-out;
      -moz-transition: transform 500ms ease-in-out;
      -o-transition: transform 500ms ease-in-out;
      -webkit-transition: transform 500ms ease-in-out;
      -ms-transition: transform 500ms ease-in-out; }
  .main-nav .nav-item.active .nav-link {
    color: #db4277 !important; }

.carousel-indicators {
  top: 0;
  bottom: unset; }
  .carousel-indicators li {
    background-color: #740774;
    height: 3px;
    width: 20px; }

.carousel-caption {
  top: 0;
  padding-bottom: 0; }

.carousel-caption-inner {
  height: 100%;
  width: 100%;
  color: #141414; }
  .carousel-caption-inner * {
    text-align: center; }
  .carousel-caption-inner p {
    margin-bottom: 0.5em; }
  .carousel-caption-inner .hero-action-btn {
    padding: 0.2rem 0.4rem;
    margin-top: 0.5em;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #61585b;
    border: 2px solid #740774; }
    .carousel-caption-inner .hero-action-btn:hover {
      background-color: #740774;
      color: #ffffff;
      transition: background-color 300ms ease; }

.section-title {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 2em; }
  .section-title:after {
    content: "";
    display: block;
    background-color: #61585b;
    height: 3px;
    width: 50%;
    margin: 5px auto; }

.more-info-btn-container {
  text-align: center; }
  .more-info-btn-container .more-info-btn {
    display: inline-block;
    border: 1px solid #740774;
    transition: all 300ms ease-in-out;
    font-size: 0.9rem; }
    .more-info-btn-container .more-info-btn:hover {
      background-color: #740774;
      color: #fbf4fb; }

#about-us .section-title::before {
  content: "";
  height: 30px;
  background-image: url("../assets/images/favicon.png");
  background-repeat: no-repeat;
  background-position-x: center;
  display: block;
  margin-bottom: 0.2em; }

#our-products .custom_control_nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  z-index: 3;
  width: 100%; }
  #our-products .custom_control_nav .product_prev_nav::before {
    content: "\f053"; }
  #our-products .custom_control_nav .product_next_nav::before {
    content: "\f054"; }
  #our-products .custom_control_nav .product_prev_nav,
  #our-products .custom_control_nav .product_next_nav {
    border: none;
    background-color: unset;
    font-size: 2rem;
    color: #61585b;
    opacity: 0.4;
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out; }
    #our-products .custom_control_nav .product_prev_nav::before,
    #our-products .custom_control_nav .product_next_nav::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }
    #our-products .custom_control_nav .product_prev_nav:hover,
    #our-products .custom_control_nav .product_next_nav:hover {
      opacity: 0.7;
      transition: opacity 300ms ease-in-out;
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out; }

article.lead p {
  text-align: center;
  margin-top: 1em;
  font-size: 0.9rem; }

#reviews {
  background: #fbf4fb;
  margin-top: 4em; }

.capitalize {
  text-transform: capitalize; }

.accordion > .card {
  border: none; }
  .accordion > .card .card-header {
    border: 1px solid #740774;
    margin-bottom: 0.4em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: unset; }
  .accordion > .card > * {
    border: none; }
  .accordion > .card .faq-btn {
    outline: none;
    border: 0;
    background: unset;
    color: #740774; }
.accordion .card:last-of-type {
  margin-bottom: 5em; }

#product-details-page .product_inner_container {
  position: relative; }
  #product-details-page .product_inner_container .extra_nav_control {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 40%;
    z-index: 2; }
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_prev::after {
      content: "\f137"; }
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_next::after {
      content: "\f138"; }
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_prev::after,
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_next::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.4rem;
      opacity: 0.3;
      transition: opacity 300ms ease-in-out;
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      cursor: pointer; }
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_prev:hover::after,
    #product-details-page .product_inner_container .extra_nav_control .extra_nav_next:hover::after {
      opacity: 0.6;
      transition: opacity 300ms ease-in-out;
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out; }
#product-details-page .buy_now_link_btn,
#product-details-page .save_for_later_btn {
  font-size: 0.7rem; }

/* 
############################
............PAGES 
############################
*/
.product-information-section .tab-content {
  line-height: 2; }
.product-information-section .nav-link.active {
  background-color: #740774 !important; }

#seller_bank_details {
  display: none; }

.form-wrapper {
  margin: 0 auto;
  background-color: #fbf4fb; }

.product_info_accordion .card-header {
  background-color: unset !important; }
.product_info_accordion .description_btn {
  border-color: unset !important;
  background-color: unset !important;
  border-style: unset !important;
  text-decoration: none !important;
  color: #61585b; }
.product_info_accordion .description_btn_label {
  display: flex;
  justify-content: space-between; }
  .product_info_accordion .description_btn_label i.fa-sort-down {
    color: #740774; }

.login.form-wrapper {
  max-width: 500px; }

.register.form-wrapper {
  max-width: 700px; }

#forgot-password-page .inner-wrapper {
  height: 70vh;
  width: 100%;
  display: grid;
  place-content: center; }
  #forgot-password-page .inner-wrapper input[type="text"] {
    width: 70%; }

.continue_shopping_link_btn,
.proceed_to_checkout_link_btn,
.modify_cart_btn,
.confirm_cart_btn {
  width: 100%;
  font-size: 0.8rem; }

#checkout-page legend {
  font-size: 1.2rem; }
#checkout-page [type="radio"] {
  opacity: 0;
  position: absolute; }
  #checkout-page [type="radio"] ~ label {
    display: flex; }
#checkout-page .custom-radio {
  --size: 1.7em;
  display: inline-block;
  background-color: #e5e5e5;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 6px solid #d4cfcf;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out; }
#checkout-page [type="radio"]:checked + label .custom-radio {
  background: #4d063d; }
#checkout-page .payment_method_dropdown_trigger::after {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  color: #740774; }

#user-profile-page .user_profile_update_btn {
  width: 100%; }

#user-orders-page {
  font-size: 9px !important; }
  #user-orders-page a {
    font-size: 0.5rem; }

#user-wishlist-page .btn_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
#user-wishlist-page .remove_btn {
  color: #dc3545;
  border: 1px solid #dc3545; }
  #user-wishlist-page .remove_btn:hover {
    background-color: #dc3545;
    color: #ffffff;
    transition: background-color 300ms ease-in-out; }
  #user-wishlist-page .remove_btn::after {
    content: "\f1f8"; }
#user-wishlist-page .add_to_cart_btn {
  color: #740774;
  border: 1px solid #740774; }
  #user-wishlist-page .add_to_cart_btn:hover {
    background-color: #740774;
    color: #ffffff;
    transition: background-color 300ms ease-in-out; }
  #user-wishlist-page .add_to_cart_btn::after {
    content: "\f07a"; }
#user-wishlist-page .remove_btn,
#user-wishlist-page .add_to_cart_btn {
  background-color: unset;
  transition: background-color 300ms ease-in-out;
  font-size: 0.7rem; }
  #user-wishlist-page .remove_btn::after,
  #user-wishlist-page .add_to_cart_btn::after {
    font-family: "font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.3em; }

#cart_page {
  /*  */ }
  #cart_page #cart > .top-content {
    background-color: #fbf4fb; }
  #cart_page .empty_cart_message_container .cart_icon_wrapper {
    position: relative;
    display: inline-block;
    color: #61585b; }
    #cart_page .empty_cart_message_container .cart_icon_wrapper .plus_icon_wrapper {
      width: 30px;
      height: 30px;
      padding: 0.5em;
      position: absolute;
      transform: rotate(45deg);
      top: 0;
      right: 0;
      border-radius: 50%;
      display: grid;
      place-content: center; }
  #cart_page .cart_item_btn {
    border: none;
    background-color: unset;
    font-weight: 600; }
    #cart_page .cart_item_btn:hover {
      color: #141414; }
  #cart_page .move_to_wishlish_btn {
    color: #740774; }
  #cart_page .remove_btn {
    color: #dc3545; }
  #cart_page body {
    font-size: 13px; }
  #cart_page #cart > .top-content {
    background-color: #fbf4fb;
    width: 90%; }
  #cart_page h4,
  #cart_page h6 {
    margin: 0; }
  #cart_page h4 {
    font-size: 1.3rem; }
  #cart_page h4 {
    font-size: 1rem; }
  #cart_page .cart_btn {
    text-transform: capitalize; }
  #cart_page .qty {
    border: 1px solid #ccc; }
  #cart_page .dec_btn,
  #cart_page .inc_btn {
    border: 0;
    background-color: unset; }
  #cart_page .cart_btn {
    background: none;
    transition: background-color 350ms ease-in-out;
    border: none;
    font-weight: bold;
    padding: 0.7em;
    margin: 0.5em;
    width: 48%;
    font-size: 0.6rem; }
  #cart_page .cart_btn.wishlist {
    color: #740774;
    background: #ccc; }
  #cart_page .cart_btn.wishlist:focus {
    background-color: #fff;
    border: 1px solid #ccc; }
  #cart_page .cart_btn.remove {
    color: #fe5f55;
    border: 1px solid #fe5f55; }
  #cart_page .cart_btn.remove:focus {
    background-color: #fe5f55;
    color: #fff; }
  #cart_page .cart_header_layout_grid {
    display: none; }
  #cart_page .cart_item_grid {
    border: 1px solid #ccc;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  #cart_page .comp_1 {
    grid-column: 1/5;
    grid-row: 1/3;
    display: grid;
    place-content: center; }
  #cart_page .comp_2 {
    grid-column: 5/-1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  #cart_page .comp_4 {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  #cart_page .comp_4 > div {
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center; }
  #cart_page .comp_4 button {
    color: #740774; }
  #cart_page .comp_5 {
    display: none; }
  #cart_page .comp_6 {
    grid-column: 5/-1;
    grid-row: 3/4; }
  #cart_page .comp_3 {
    grid-column: 1/-1;
    grid-row: 4/5;
    border: 1px solid #ccc !important;
    display: flex;
    align-items: center;
    font-weight: 600; }
  @media (min-width: 600px) {
    #cart_page body {
      font-size: 16px; }
    #cart_page #cart_page #cart > .top-content {
      width: 100%; }
    #cart_page .cart_btn.wishlist,
    #cart_page .cart_btn.remove {
      background: none;
      transition: background-color 350ms ease-in-out;
      border: none;
      width: auto; }
    #cart_page .cart_btn:hover,
    #cart_page .cart_btn:focus {
      background-color: #ccc;
      transition: background-color 350ms ease-in-out; }
    #cart_page .dec_btn,
    #cart_page .inc_btn {
      border: 0;
      height: 100%;
      width: 100%;
      background-color: unset; }
    #cart_page .qty_btns > div {
      height: 100%;
      width: 33%; }
    #cart_page .next_action_cart_btn_wrapper a {
      width: auto; } }
  @media (min-width: 778px) {
    #cart_page .cart_header_layout_grid {
      display: block;
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
    #cart_page .cart_header_layout_grid > div {
      padding: 1em 0.5em;
      color: #fff;
      border: 1px solid #ccc;
      display: grid;
      place-content: center; }
    #cart_page .g_item1 {
      grid-column: 1/8;
      background-color: #6a4653; }
    #cart_page .g_item2 {
      grid-column: 8/10;
      background-color: #9a637e; }
    #cart_page .g_item3 {
      grid-column: 10/11;
      background-color: #2b2225; }
    #cart_page .g_item4 {
      grid-column: 11/-1;
      background-color: #552335; }
    #cart_page .cart_item_grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr); }
    #cart_page .cart_item_grid > div {
      border: 1px solid #ccc; }
    #cart_page .comp_1 {
      grid-column: 1/3;
      grid-row: 1/3; }
    #cart_page .comp_2 {
      grid-column: 3/8;
      grid-row: 1/2; }
    #cart_page .comp_3 {
      grid-column: 3/-1;
      grid-row: 2/3;
      display: flex;
      align-items: center;
      font-weight: 600; }
    #cart_page .comp_4 {
      grid-column: 8/10;
      grid-row: 1/2;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    #cart_page .comp_5 {
      display: block;
      grid-column: 10/11;
      grid-row: 1/2;
      display: flex;
      align-items: center; }
    #cart_page .comp_6 {
      grid-column: 11/-1;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      font-weight: 600; }
    #cart_page .comp_2,
    #cart_page .comp_5 {
      padding: 0.5em; } }
  @media (min-width: 900px) {
    #cart_page .cart_btn {
      font-size: 0.8rem; } }

footer {
  background-color: #f6f6f6; }
  footer a {
    color: #61585b; }
  footer .newsletter-form-grp {
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
    footer .newsletter-form-grp input {
      height: 100%;
      width: 100%;
      padding: 0.7em 0.2em;
      border: none;
      background-color: #e3e1e1;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      color: #740774; }
      footer .newsletter-form-grp input:focus {
        outline: 0; }
    footer .newsletter-form-grp button {
      height: 100%;
      width: 40px;
      border: none;
      position: absolute;
      right: 0;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background-color: #740774;
      transition: background-color 500ms ease-in-out;
      -moz-transition: background-color 500ms ease-in-out;
      -o-transition: background-color 500ms ease-in-out;
      -webkit-transition: background-color 500ms ease-in-out;
      -ms-transition: background-color 500ms ease-in-out; }
      footer .newsletter-form-grp button:focus {
        outline: 0; }
      footer .newsletter-form-grp button::before {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.6rem;
        color: #ffffff; }
      footer .newsletter-form-grp button:hover {
        background-color: #db4277;
        transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        -o-transition: background-color 500ms ease-in-out;
        -webkit-transition: background-color 500ms ease-in-out;
        -ms-transition: background-color 500ms ease-in-out; }
  footer .footer-section-title {
    text-transform: uppercase; }
    footer .footer-section-title::before {
      content: "";
      display: block;
      background-color: #61585b;
      height: 2px;
      width: 4%;
      margin-bottom: 0.5em; }
  footer .footer-social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start; }
    footer .footer-social-icons li {
      margin-right: 1.4em; }
  footer .blog-container {
    padding: 0;
    list-style: none; }
    footer .blog-container li {
      margin-bottom: 1em; }
    footer .blog-container .blog-link {
      font-size: 0.9rem;
      color: #740774;
      transition: color 500ms ease-in-out;
      -moz-transition: color 500ms ease-in-out;
      -o-transition: color 500ms ease-in-out;
      -webkit-transition: color 500ms ease-in-out;
      -ms-transition: color 500ms ease-in-out; }
      footer .blog-container .blog-link .blog_snippet {
        font-size: 0.8rem;
        color: #740774; }
    footer .blog-container .blog-thumbnail {
      width: 100%; }
    footer .blog-container a:visited {
      color: #4d063d; }
  footer .copyright_wrapper {
    order: 4; }
  footer .terms_condition_link_wrapper {
    order: 1; }
  footer .policy_link_wrapper {
    order: 2; }
  footer .social_icons_wrapper {
    order: 3; }

#review-page .review-star {
  font-size: 1rem; }
#review-page #rating_value {
  position: absolute; }
#review-page .review-btn {
  font-size: 0.8rem; }

/* 
############################
............MEDIA QUERIES 
############################
*/
@media (min-width: 800px) {
    /* ############################

    TYPOGRAPHY

    ############################ 
*/
  form .form-control {
    font-size: 1rem; }

  .carousel-caption-inner {
    height: 100%;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #141414; }
    .carousel-caption-inner * {
      text-align: left;
      margin: 0; }
    .carousel-caption-inner .pri_caption {
      font-size: 3rem; }
    .carousel-caption-inner .sec_caption {
      font-size: 1.5rem; }
    .carousel-caption-inner .tar_caption {
      font-size: 1.3rem; }
    .carousel-caption-inner .hero-action-btn {
      font-size: 1.2rem; }

  article.lead p {
    margin-top: 1em;
    font-size: 1.2rem; }

  #user-orders-page {
    font-size: 12px !important; }
    #user-orders-page a {
      font-size: 0.5rem; }

  #user-order-details-page .product_image_caption {
    display: flex;
    align-items: center; }

  #user-profile-page .user_profile_update_btn {
    width: auto; }

  #checkout-page .modify_cart_btn,
  #checkout-page .confirm_cart_btn {
    width: auto;
    font-size: 1rem; }

  footer .footer-social-icons {
    justify-content: flex-end; }
  footer .copyright_wrapper {
    order: 1; }
  footer .terms_condition_link_wrapper {
    order: 2; }
  footer .policy_link_wrapper {
    order: 3; }
  footer .social_icons_wrapper {
    order: 4; } }
@media (min-width: 550px) {
  #user-wishlist-page .wishlist_single_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    #user-wishlist-page .wishlist_single_item .btn_wrapper {
      display: block; }
  #user-wishlist-page .remove_btn,
  #user-wishlist-page .add_to_cart_btn {
    display: block;
    width: 100%;
    margin-bottom: 0.4em; }
    #user-wishlist-page .remove_btn::after,
    #user-wishlist-page .add_to_cart_btn::after {
      font-family: "font Awesome 5 Free";
      font-weight: 900;
      margin-left: 0.5em; } }
@media (min-width: 920px) {
  body {
    font-size: 16px; }

  .main-nav .nav-item .nav-link {
    font-size: 1rem; }
    .main-nav .nav-item .nav-link::after {
      height: 3px; }

  .carousel-indicators li {
    height: 4px;
    width: 40px; }

  form .password-eye {
    background-color: #ffffff;
    border: 1px solid #740774;
    font-size: 0.8rem; }

  #review-page .review-star {
    font-size: 2.3rem; }
  #review-page .review-btn {
    font-size: 1.3rem;
    margin-bottom: 2em; }

  #product-details-page .buy_now_link_btn,
  #product-details-page .save_for_later_btn {
    font-size: 0.9rem; } }
@media (max-width: 800px) {
  form .select-wrapper::after {
    font-size: 13px;
    right: 0.4rem;
    bottom: 0.74em; } }
@media (max-width: 500px) {
  .product-information-section .nav-item {
    flex-basis: 50% !important; }

  form .select-wrapper::after {
    font-size: 13px;
    right: 0.4rem;
    bottom: 0.74em; } }
@media (max-width: 385px) {
  .carousel-caption-inner {
    display: flex;
    align-items: center;
    justify-content: center; }

  .sec_caption,
  .pri_caption,
  .tar_caption {
    display: none; }

  form .form-group label {
    font-size: 0.7rem; } }

/*# sourceMappingURL=main.css.map */
